@model GeneralViewModel

@using System.Security.Claims;
@{
    var identity = User.Identity as ClaimsIdentity;
    var name = identity?.FindFirst(ClaimTypes.Name)?.Value;
    var surname = identity?.FindFirst(ClaimTypes.Surname)?.Value;
    var Email = identity?.FindFirst(ClaimTypes.Email)?.Value;
    var uid = identity?.FindFirst(ClaimTypes.Sid)?.Value;
}

<div class="copyright mt-5 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="copyright-menu">
                        <ul>
                            <li>
                                <a  class="text-light" asp-controller="User" asp-action="PolicyPage">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#" class="text-light">Cookie Policy</a>
                            </li>
                            <li>
                                <a href="#" class="text-light">Terms of Use</a>
                            </li>
                            <li>

                                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModalContactUs" class="border-0 bg-transparent">
                                    <a class="text-light">Contact Us</a>
                                </button>


                                <div class="modal fade" id="exampleModalContactUs" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Contact Us</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <form method="post" asp-action="ContactUs" asp-controller="User">
                                                <div class="modal-body">
                                                    @*bodey of the model*@
                                                    <div class="mb-3">
                                                        <label for="exampleFormControlInput1" class="form-label">Name*</label>
                                                        <input type="text" value="@name @surname" class="form-control missionNameTime" placeholder="" disabled>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="exampleFormControlInput1" class="form-label">Email Address*</label>
                                                        <input type="text" value="@Email" class="form-control dateOfVolunteerdTime" placeholder="select date" disabled>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <label for="exampleFormControlInput1" class="form-label">Subject*</label>
                                                            <input type="text" class="form-control missionNameTime" asp-for="subjectForContactUsPage" placeholder="">
                                                            <span class="text-danger" asp-validation-for="subjectForContactUsPage"></span>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="exampleFormControlTextarea1" class="form-label">Message*</label>
                                                        <textarea class="form-control textMessageTime" rows="3" asp-for="messageForContactUsPage">Enter your Message</textarea>
                                                        <span class="text-danger" asp-validation-for="messageForContactUsPage"></span>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-dark" style="border-radius:50px" data-bs-dismiss="modal">Cancel</button>
                                                    <button type="submit" class="btn btn-outline-warning" style="border-radius:50px">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                </li>
                              
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 rights">
                    <span class="text-light"> © 2019 Optimy.com. All Right Reserved</span>
                </div>
            </div>
        </div>
    </div>
    