
#List {
    display: none;
}

@media (max-width:767px) {
    #List {
        display: block;
    }

    #Main {
        display: none;
    }

    .dropdown {
        float: left;
    }
}

.star {
    margin-top: -38px;
    background-color: white;
}

.btn-outline-secondary {
    border-radius: 50px;
    font-size: 10px;
}

.explore {
    font-size: 25px;
    color: gray;
}

big {
    color: rgb(58, 56, 56);
}

#overlap {
    text-decoration: none;
    border-radius: 50px;
    background-color: white;
    border: none;
    margin-top: -15px;
    margin-left: 30%;
    width: 40%;
}

.card {
    margin-bottom: 1rem;
}

.list-view .row > [class*=col-] {
    max-width: 100%;
    max-height: 100%;
    flex: 0 0 100%;
}

.list-view .card {
    flex-direction: row;
}

@media (max-width: 575.98px) {
    .list-view .card {
        flex-direction: column;
    }
}

.list-view .card > .card-img-top {
    width: auto;
}

.list-view .card .card-body {
    display: inline-block;
}

@media (min-width:992px) {
    .btn-grid {
        margin-top: -30px;
        margin-left: 30px;
    }
}

@media screen {
    .list-view #overlap {
        /* display: none; */
    }

    .list-view .image {
        height: 100%;
    }
}
body{
    background-color:black;
}
.card-text {
    color: gray;
}

.location {
    top: 10px;
    right: 10px;
    background-color: black;
    opacity: 0.6;
    color: white;
    border-radius: 50px;
    font-size: 14px;
    padding: 5px;
    position: absolute;
}

.heart {
    bottom: 80px;
    right: 10px;
    background-color: black;
    opacity: 0.6;
    padding: 5px;
    border-radius: 50px;
    position: absolute;
}

.doc {
    bottom: 35px;
    right: 10px;
    background-color: black;
    opacity: 0.6;
    padding: 5px;
    border-radius: 50px;
    position: absolute;
}

.img2 {
    width: 100%;
}

.card-body p {
    color: gray;
}

.card {
    border: none;
}

.container .grid-container {
    background-color: rgb(245, 244, 244);
}

.deadline {
    top: -11px;
    background: none;
}

.copyright {
    padding: 28px 0;
    margin-top: 55px;
    /* background-color: #202020; */
}

    .copyright span,
    .copyright a {
        color: #878787;
    }

        .copyright a:hover {
            color: #007bff;
        }

.copyright-menu ul {
    text-align: left;
    margin: 0;
}

    .copyright-menu ul li a {
        text-decoration: none;
    }

.copyright-menu li {
    display: inline-block;
    padding-left: 20px;
}

.rights {
    text-align: right;
}

.dropdown-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.image {
    object-fit: cover;
}

/* history */
.filter-list {
    background-color: white;
    border: 1px solid #808080;
    border-radius: 50px;
    color: #000;
    cursor: pointer;
    width:auto !important;
}

.filter-close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
    color: #888;
   
}

.filters-section {
    margin-top: 2%;
}

.date-btn {
    border-radius: 22px;
    border: 2px solid #E8E8E8;
    background-color: white;
    width: auto;
    font-size: 13px;
    padding: 0 30px;
}
